@media (min-width: 1024px) {
  .abtflex {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }
  .abtname {
    text-decoration: underline;
    margin-top: 50px;
  }
  .abtsubname {
    text-decoration: underline;
    color: rgb(174, 170, 170);
    margin-top: -20px;
  }
  .abtdata {
    margin-top: -50px;
  }
  .abtimage {
    border-radius: 5px;
    margin: 1rem;
    height: 220px;
    border: 1px solid rgb(207, 205, 205);
    padding: 5px;
  }
  .abtimage:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
  .abtnumbers {
    display: flex;
    justify-content: center;
  }
  .abtnumbers > div {
    width: 200px;
  }
  .abtpara {
    margin: 2.5rem;
    font-weight: 500;
  }
}

/* tablet view
////////////////////////
////////////////////////
//////////////////////// */
@media (max-width: 1024px) {
  .abtflex {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }
  .abtname {
    text-decoration: underline;
    margin-top: 40px;
  }
  .abtsubname {
    text-decoration: underline;
    color: rgb(174, 170, 170);
    margin-top: -20px;
  }
  .abtdata {
    margin-top: -50px;
  }
  .abtimage {
    border-radius: 5px;
    margin: 1rem;
    height: 200px;
    border: 1px solid rgb(207, 205, 205);
    padding: 5px;
  }
  .abtimage:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
  .abtnumbers {
    display: flex;
    justify-content: center;
  }
  .abtnumbers > div {
    width: 150px;
    margin-top: -20px;
  }
  .abtpara {
    margin: 2rem;
    font-weight: 500;
  }
}
/* mobile view 
////////////////////////
/////////////////////
/////////////////////// */
@media (max-width: 480px) {
  .abtflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
  }
  .abtname {
    text-decoration: underline;
    margin-top: 20px;
    margin-left: -30px;
  }
  .abtsubname {
    text-decoration: underline;
    color: rgb(174, 170, 170);
    margin-top: -20px;
    margin-left: -30px;
  }

  .abtimage {
    border-radius: 5px;
    height: 220px;
    border: 1px solid rgb(207, 205, 205);
  }

  .abtnumbers {
    display: flex;
    justify-content: center;
  }

  .abtpara {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: -10px;
  }
}
