@media (min-width: 1024px) {
  .home {
    margin-top: 50px;
  }
  .homeflex {
    display: flex;
  }
  .weblink {
    color: #018ec4;
    margin-top: 100px;
    margin-left: 50px;
  }
  .weblink:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
  .taketotop {
    margin-left: 100px;
    text-align: start;
  }
  .text {
    font-size: 50px;
  }
  .myname {
    margin-top: -25px;
    font-size: 40px;
  }
  .name {
    color: #018ec4;
    text-decoration: underline;
  }

  .titleitemwrapper {
    margin-top: -50px;
    height: 20%;
    animation: move 5s ease-in-out infinite alternate;
  }
  .homep {
    margin-top: -45px;
    font-size: 15px;
    width: 500px;
    font-weight: 600;
  }
  .homebtn {
    border: none;
    color: white;
    background-color: #018ec4;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .homebtn:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
}
@keyframes move {
  50% {
    transform: translateY(20px);
  }
}
.titleitem {
  height: 50px;
  color: #00a3d8;
  align-items: center;
  font-size: 35px;
}

/* tablet view */
/* //////////////////////////////////////////
///////////////////////////////////////////////
/////////////////////////////////////// */

@media (max-width: 1024px) {
  .home {
    margin-top: 50px;
  }
  .homeflex {
    display: flex;
  }
  .weblink {
    color: #018ec4;
    margin-top: 100px;
    margin-left: 20px;
  }
  .weblink:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
  .taketotop {
    margin-left: 50px;
    text-align: start;
  }
  .text {
    font-size: 40px;
  }
  .myname {
    margin-top: -25px;
    font-size: 35px;
  }
  .name {
    color: #018ec4;
    text-decoration: underline;
  }
  .titleitemwrapper {
    margin-top: -50px;
    height: 20%;
    animation: move 5s ease-in-out infinite alternate;
  }
  .homep {
    margin-top: -40px;
    font-size: 20px;
    width: 500px;
    font-weight: 600;
  }
  .homebtn {
    border: none;
    color: white;
    background-color: #018ec4;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .homebtn:hover {
    transform: scale(1.09);
    transition: all 0.9s ease;
  }
  .titleitem {
    font-size: 40px;
  }
}

/* mobileview */
/* ////////////////////////////////
//////////////////////
//////////////////////////////// */

@media (max-width: 480px) {
  .home {
    margin-top: 80px;
  }
  .homeflex {
    display: flex;
  }
  .weblink {
    color: #018ec4;
    margin-top: 30px;
    margin-left: -60px;
  }

  .taketotop {
    margin-left: 10px;
    text-align: start;
  }
  .text {
    font-size: 18px;
  }
  .myname {
    margin-top: 10px;
    font-size: 17px;
  }
  .name {
    color: #018ec4;
    text-decoration: underline;
  }

  .titleitemwrapper {
    margin-top: -25px;
    height: 20%;
    animation: move 5s ease-in-out infinite alternate;
  }
  .homep {
    margin-top: 5px;
    font-size: 12px;
    width: 300px;
    font-weight: 600;
    color: red;
  }
  .homebtn {
    border: none;
    color: white;
    background-color: #018ec4;
    height: 35px;
    width: 180px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  .titleitem {
    font-size: 15px;
  }
}
