/* .projectimage {
  border: 1px solid rgb(207, 205, 205);
  padding: 3px;
  width: 350px;
}
.projectimage:hover {
  box-shadow: 0 0 2px 1px rgba(9, 211, 218, 0.5);
} */
.projectflex {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.projectimage {
  width: 500px;
  border-top: 3px solid #018ec4;
  border-bottom: 3px solid #018ec4;
  border-left: 3px solid #018ec4;
  border-radius: 10px 0 0 10px;
}

.projectdetails {
  width: 350px;
  border-top: 3px solid #018ec4;
  border-bottom: 3px solid #018ec4;
  border-right: 3px solid #018ec4;
  border-radius: 0 10px 10px 0;
}
.projectimageslogo {
  height: 40px;
  width: 40px;
}
.clonewebimg {
  height: 300px;
  width: 470px;
  margin: 1rem;
  padding: 2px;
  border: 2px solid black;
}
.projectp {
  font-weight: 700;
  font-size: 15px;
  margin-top: -5px;
}
.projectspecs {
  /* margin-left: 30px;
  margin-bottom: 35px; */
  text-align: start;
  margin: 1.3rem;
}
.projectbutton {
  margin-right: 20px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: #018ec4;
  height: 30px;
  width: 100px;
  border-radius: 3px;
}
.clonewebimg:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
  box-shadow: 0 0 5px 5px #018ec4;
}
.projectimageslogo:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
}
.projectbutton:hover {
  transform: scale(1.09);
  transition: all 0.9s ease;
  box-shadow: 0 0 5px 5px rgba(8, 142, 147, 0.5);
}

@media (max-width: 720px) {
  .projectflex {
    display: flex;
    flex-direction: column;
  }
  .projectimage {
    border: 3px solid black;
    border-radius: 10px;
    width: 350px;
    margin: 20px;
  }
  .clonewebimg {
    width: 300px;
  }
  .projectdetails {
    border: 3px solid black;
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .projectbutton {
    margin-bottom: 20px;
  }
  .logosmargin {
    margin-right: 50px;
  }
}
