@media (min-width: 1024px) {
  .skillsflex {
    margin: 2rem;
    justify-content: center;
  }
  .logodiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
    justify-content: center;
    justify-content: space-around;
    margin: 2rem;
  }

  .skillsimage {
    height: 60px;
    width: 70px;
  }
  .skillsimage:hover {
    transform: scale(1.09);
    transition: all 0.5s ease;
  }
}
/* tablet view
/////////////////
///////////////
/////////////////// */
@media (max-width: 1024px) {
  .skillsflex {
    margin: 2rem;
    justify-content: center;
  }
  .logodiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
    justify-content: center;
    justify-content: space-around;
    margin: 2rem;
  }

  .skillsimage {
    height: 60px;
    width: 60px;
  }
  .skillsimage:hover {
    transform: scale(1.09);
    transition: all 0.5s ease;
  }
}
/* mobile view
///////////////////
////////////////
////////////////// */
@media (max-width: 480px) {
  .skillsflex {
    margin: 2rem;
    justify-content: center;
  }
  .logodiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
    justify-content: center;
    justify-content: space-around;
    margin: 2rem;
  }

  .skillsimage {
    height: 50px;
    width: 50px;
  }
  .skillsimage:hover {
    transform: scale(1.09);
    transition: all 0.5s ease;
  }
}
